

<div class="card text-white mb-3" style="max-width: 18rem;" [ngClass] = "{'bg-dark':darktheme,'bg-danger':!darktheme}">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    
  </div>
  <button type="button" (click)="toogle()" class="btn btn-success">Click</button>


  <div>
    <h3 [ngStyle]="boxStyles()">
        this is ngStyles exmaple
    </h3>
    <button type="button" class="btn btn-dark" (click)="toogle2()">Click to toggle</button>
  </div>