<p>api-handle works!</p>

<button class="btn btn-primary m-1" (click)="addPost()"> ADD DATA NOW</button>

<button class="btn btn-primary m-1" (click)="updatePost()"> UPDATE DATA NOW</button>

<button class="btn btn-primary m-1" (click)="getPostByid()"> GetPostById NOW</button>

<button class="btn btn-primary m-1" (click)="deletePostByid()"> DELETE NOW</button>

<!-- <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" *ngFor="let x of post">
  <div class="card-header">{{x.title}}</div>
  <div class="card-body">
    <p class="card-text"> {{x.body}}</p>
  </div>
</div> -->

