<div class="container border border-primary">
  <h1>data-binding</h1>

  <ul>
    <li>one way data-binding</li>
    <ol>
      <li>Interpolation</li>
      <p>
        {{ firstname }} {{ lastname }} {{ age }} {{ location }} {{ 486 / 58 }}
      </p>
      <li>Property Binding</li>
      <!-- <input type="text" value="{{firstname}}"> -->
      <!-- Below is the example of property binding  -->
      <input type="text" [placeholder]="firstname" />
      <input type="number" [value]="age" />
      <li>Event Binding</li>
      <button class="btn btn-danger" (dblclick)="showAlert()">Click</button>
      <li>style Binding</li>
      <p
        [style.color]="mycolor"
        [style.font-size]="myfont"
        [style.margin]="mymargin"
      >
        this is property binding
      </p>
    </ol>
    <li>two way data-binding</li>
    <input type="text" [(ngModel)]="firstname">

  </ul>
</div>
