<p>observable-comp works!</p>
<hr>
<button class="btn btn-primary" (click)="data_get()">Observable(new)</button><hr>
<button class="btn btn-primary" (click)="data_get2()">Observable(of)</button><hr>
<button class="btn btn-primary" (click)="data_get3()">Observable(from)</button><hr>
<button class="btn btn-primary" (click)="data_get4()">Observable(interval)</button><hr>
<button class="btn btn-primary" (click)="data_get5()">Observable(map)</button><hr>
<button class="btn btn-primary" (click)="data_get6()">Observable(filter)</button><hr>
<button class="btn btn-primary" (click)="data_get7()">Observable(map+filter)</button><hr>
<button class="btn btn-primary" (click)="data_get8()">Observable(merge observable)</button><hr>
<button class="btn btn-primary" (click)="data_get9()">meargeAll</button><hr>
<button class="btn btn-primary" (click)="data_get10()">delay data</button><hr>
<button class="btn btn-primary" (click)="data_get11()">switch</button><hr>
<button class="btn btn-primary" (click)="data_get12()">interval_stop</button><hr>
<button class="btn btn-primary" (click)="stop_subscription()">unubscribe</button><hr>
<button class="btn btn-primary" (click)="data_get13()">exception handling</button><hr>