<p>observable-comp works!</p>
<hr>
<button class="btn btn-primary m-1" (click)="data_get()">Observable(new)</button>
<button class="btn btn-primary m-1" (click)="data_get2()">Observable(of)</button>
<button class="btn btn-primary m-1" (click)="data_get3()">Observable(from)</button>
<button class="btn btn-primary m-1" (click)="data_get4()">Observable(interval)</button>
<button class="btn btn-primary m-1" (click)="data_get5()">Observable(map)</button>
<button class="btn btn-primary m-1" (click)="data_get6()">Observable(filter)</button>
<button class="btn btn-primary m-1" (click)="data_get7()">Observable(map+filter)</button>
<button class="btn btn-primary m-1" (click)="data_get8()">Observable(merge observable)</button>
<button class="btn btn-primary m-1" (click)="data_get9()">meargeAll</button>
<button class="btn btn-primary m-1" (click)="data_get10()">delay data</button>
<button class="btn btn-primary m-1" (click)="data_get11()">switch</button>
<button class="btn btn-primary m-1" (click)="data_get12()">interval_stop</button>
<button class="btn btn-primary m-1" (click)="stop_subscription()">unubscribe</button>
<button class="btn btn-primary m-1" (click)="data_get13()">exception handling</button>