
  
  <!-- data-binding interpolation -->
  <h1 class="bg-danger text-white p-5">This is demo angular file my name:{{name}} {{lastname}} {{pincode}}</h1>


  <app-about></app-about>
  <app-address></app-address>
  <app-product></app-product>
  <app-category></app-category>
  <app-data-binding></app-data-binding>
  <app-addition></app-addition>
  <app-pipe></app-pipe>
<app-directives></app-directives>
<app-swiexe></app-swiexe>
<app-parent></app-parent>
<app-child>
</app-child>
<app-attributedirectives></app-attributedirectives>
<app-serviceexample></app-serviceexample>
<app-parent-comp></app-parent-comp>
